In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
budget_data = pd.read_csv('budget_data.txt')

In [ ]:
budget_data

In [5]:
dates = list(budget_data['Date'])

In [6]:
pnl = list(budget_data['Profit/Losses'])

In [7]:
total_months = len(dates)

In [8]:
print(f"${sum(pnl)}")

$38382578

In [9]:
def pnl_change(old_pnl,new_pnl):
    return new_pnl - old_pnl

In [10]:
daily_change = []

for i in range(0,len(pnl)-1):
    output = pnl_change(pnl[i],pnl[i+1])
    daily_change.append(output)

In [13]:
avg_change = round(sum(daily_change) / len(daily_change),2)

In [ ]:
max(daily_change)

In [ ]:
min(daily_change)

In [17]:
daily_change.insert(0,'')

In [ ]:
len(daily_change)

In [19]:
change_df = pd.DataFrame({'Date':dates,'Change':daily_change})

In [ ]:
change_df

In [21]:
change_df['Change'] = pd.to_numeric(change_df['Change'])

In [22]:
change_df.loc[change_df['Change'].idxmax()]

Date       Feb-2012
Change    1926159.0
Name: 25, dtype: object

In [23]:
max_change = change_df[change_df.Change == change_df.Change.max()]

In [24]:
max_change

        Date     Change
25  Feb-2012  1926159.0

In [25]:
min_change = change_df[change_df.Change == change_df.Change.min()]

In [26]:
min_change

        Date     Change
44  Sep-2013 -2196167.0

In [29]:
print(f"Financial Analysis\n-------------------------------\nTotal Months: {total_months}")
print(f"Total PnL: ${sum(pnl)}")
print(f"Average Change: ${avg_change}")
print(f"Greatest increase in profits: \n{max_change}")

print(f"\nGreatest decrease in profits:\n{min_change}")

Financial Analysis
-------------------------------
Total Months: 86
Total PnL: $38382578
Average Change: $-2315.12
Greatest increase in profits:
        Date     Change
25  Feb-2012  1926159.0

Greatest decrease in profits:
        Date     Change
44  Sep-2013 -2196167.0

In [30]:
with open('pybank_output.txt', 'w') as f:
    f.write(f"Financial Analysis\n-------------------------------\nTotal Months: {total_months}")
    f.write(f"\nTotal PnL: ${sum(pnl)}")
    f.write(f"\nAverage Change: ${avg_change}")
    f.write(f"\nGreatest increase in profits: \n{max_change}")
    f.write(f"\nGreatest decrease in profits:\n{min_change}")